
<div class="container">
<div class="card col-lg-12 col-md-12">
  <div class="card-body col-lg-12 col-md-12 to-print">
    <div class="container text-center to-print">
    <h1 class="to-print">Nicholas Andrews</h1>
    <h2>1835 Harrison St N Unit #14-101</h2>
    <h2>Twin Falls, Idaho 83301</h2>
    <h2>(641) 295-1131 (Cell)</h2>
    <h2>E-mail: nicholasianandrews@gmail.com</h2>
  </div>

    <div class="container col-lg-11 col-md-11 right">
    <h1>OBJECTIVE:</h1>
    <p>Looking for a job in the Software Engineering and/or IT field.</p>
    </div>

    <div class="container col-lg-11 col-md-11right">
    <h1>SKILLS/QUALIFICATIONS:</h1>
    </div>


    <div class="container col-lg-10 col-md-10 right">
    <div class="row">
      <p class="col-6">● Website Design</p>
      <p class="col-6">● Collaborator</p>
    </div>
    </div>


    <div class="container col-lg-10 col-md-10 right">
      <div class="row">
        <p class="col-6">● Coding/Programming (C#, JavaScript, Html, SQL)</p>
        <p class="col-6">● Active Listener</p>
    </div>
    </div>

    <div class="container col-lg-10 col-md-10 right">
      <div class="row">
        <p class="col-6">● Critical Thinker</p>
        <p class="col-6">● Knowledge of engineering concepts/tools </p>
    </div>
    </div>

    <div class="container col-lg-10 col-md-10 right">
    <div class="row">
        <p class="col-6">● Self-Motivated</p>
        <p class="col-6">● Knowledge of various technologies </p>
    </div>
    </div>

    <div class="container col-lg-11 col-md-11 right">
    <h1>EDUCATION:</h1>
      <div class="container col-lg-11 col-md-11 right">
    <p>William Penn University</p>
    <p>Oskaloosa, IA 52577</p>
    <p>B.A. in Software Engineering</p>
    <p>Minors: Physics, Math, and Industrial Tech</p>
      </div>
    </div>

    <div class="container col-lg-11 col-md-11 right">
    <h1>PROFESSIONAL EXPERIENCE:</h1>
    </div>

    <div class="container col-lg-10 col-md-10 right">
      <h2>Agropur- Automation Programmer Analyst</h2>
      <h2>May 2021 to Current</h2>
    </div>

    <div class="container col-lg-9 col-md-9 right">
    <p>● Design and create software applications</p>
    <p>● Create websites, dashboards, and automated reports</p>
    <p>● Update and maintain software applications</p>
    <p>● Update websites and Wonderware applications</p>
    </div>

    <div class="container col-lg-10 col-md-10 right">
    <h2>Bank Iowa- IT Intern</h2>
    <h2>Nov 2020 to Feb 2021</h2>
    </div>

    <div class="container col-lg-9 col-md-9 right">
    <p>● Worked in all areas of IT support</p>
    <p>● Collaborated on a security project used throughout the company</p>
    <p>● Updated standard procedure documents</p>
    </div>

    <div class="container col-lg-11 col-md-11 right">
    <h1>OTHER WORK EXPERIENCE:</h1>
    </div>

    <div class="container col-lg-10 col-md-10 right">
    <h2>Taso’s Steakhouse- Food Service</h2>
    <h2>Dates Employed: Nov 2019 to Oct 2020</h2>
    </div>

    <div class="container col-lg-9 col-md-9 right">
    <p>● Worked in the dish room and in the kitchen</p>
    </div>

    <div class="container col-lg-10 col-md-9 right">
    <h2>Pella Windows and Doors- Intern</h2>
    <h2>Dates Employed: Summers of 2018 and 2019</h2>
    </div>

    <div class="container col-lg-9 col-md-9 right">
    <p>● Worked in the door plant assembly line</p>
    <p>● Maintained schedule of the production line</p>
    <p>● Ensured that assembly line was stocked</p>
    </div>

    <div class="container col-lg-10 col-md-10 right">
    <h2>REFERENCES: Available upon request</h2>
    </div>

  </div>
</div>
</div>

