<div class="container m-1 mb-3">
  <div class="card">
    <div class="row g-0">

      <div class="col-3">
        <%= image_tag 'linkedinprofilepic.jpg', class:"img-fluid rounded-start",
                  style: 'max-width: 18rem;', alt:"..." %>
      </div>

      <div class="col-9">
        <div class="card-body">
          <h3 class="card-title">Hello</h3>
          <p class="card-text">My name is Nicholas Andrews</p>
          <h4 class="card-subtitle mb-2 text-muted">My Motto</h4>
          <p class="card-text">The answer's out there, you just got to google it</p>

          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>

          <%= link_to 'My Linkedin', "https://www.linkedin.com/in/nicholas-andrews-662847183/", class:"card-link" %>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container m-1 mb-3">
  <div class="row g-0">

    <div class="card">
      <div class="card-header">Where I Live</div>
      <div class="card-body">
        <p class="card-text">Currently I live in Twin Falls, Idaho. In roughly 1 month I will be moving to Steubenville, Ohio</p>
      </div>
    </div>

  </div>
</div>

<div class="container m-1 mb-3">
  <div class="row g-0">

    <div class="card">
      <div class="card-header">Education</div>
      <div class="card-body">
        <p class="card-text">I went William Penn University where I got my B.A in Software Engineering</p>
        <p class="card-text">Then I got minors in Physics, Math, and in Industrial Tech</p>
      </div>
    </div>

  </div>
</div>

<div class="container m-1 mb-3">
  <div class="row g-0">

    <div class="card">
      <div class="card-header">
        Programming Languages
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">C#</li>
        <li class="list-group-item">JavaScript</li>
        <li class="list-group-item">Html</li>
        <li class="list-group-item">SQL</li>
      </ul>
    </div>

  </div>
</div>

<div class="container m-1 mb-3">
  <div class="card">
    <div class="row g-0">

      <div class="col-3">
        <%= image_tag '20220515_155433.jpg', class:"img-fluid rounded-start",
                      style: 'max-width: 18rem;', alt:"..." %>
      </div>

      <div class="col-9">
        <div class="card-body">
          <h3 class="card-title">My Hobbies and Passions</h3>
          <p class="card-text">I like spending time with my wife</p>
          <p class="card-text">Visit National parks</p>
          <p class="card-text">All Things Computers</p>
          <p class="card-text">Aquariums</p>

        </div>
      </div>

    </div>
  </div>
</div>



